.profile-container {
  height: 100vh;
  margin: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.profile-header {
  margin: 0 auto;
  max-width: 500px;
  height: 50vh;
}
.profile-header h1 {
  font-size: 40px;
}
.profile-header p {
  font-size: 25px;
}
@media (max-width: 768px) {
  .profile-header {
    text-align: center;
  }
}
.update-btn {
  margin-top: 20px;
  width: 100px;
  padding: 10px;
  border-radius: 50px;
  border: none;
  color: #f7f7ff;
  background-color: #279af1;
}
.update-btn:hover {
  color: #f7f7ff;
  background-color: #1e5d8d;
}
.update-input {
  /* width: 90%; */
  height: 30px;
  border-radius: 10px;
  border: 1px solid #131112;
  font-size: 20px;
  margin-right: 20px;
}
