.nav-links {
  display: flex;
  justify-content: space-around;
  background-color: #131112;
  align-items: center;
  height: 60px;
  margin: 0;
}
.nav-links a {
  text-decoration: none;
  color: #f7f7ff;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
body {
  background-color: #f7f7ff;
}
