.block {
  display: block;
}
.text-area {
  width: 100%;
  height: 50px;
  margin: 10px;
  border: none;
}
.btn {
  width: 100px;
  padding: 10px;
  margin-left: auto;
  border-radius: 50px;
  border: none;
  color: #f7f7ff;
  background-color: #279af1;
}
.btn:hover {
  color: #f7f7ff;
  background-color: #1e5d8d;
}
.form {
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px auto;
}
.posts {
  max-width: 800px;
  margin: 0 auto;
}
.message {
  margin-bottom: 15px;
}
.username {
  margin-bottom: 15px;
  font-weight: 700;
  color: rgb(73, 73, 73);
}
.paper {
  position: relative;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 2px;
}

.paper::before,
.paper::after {
  content: "";
  position: absolute;
  bottom: 10px;
  width: 40%;
  height: 10px;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.7);
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.paper::before {
  left: 15px;
  transform: skew(-3deg) rotate(-3deg);
}

.paper::after {
  right: 15px;
  transform: skew(3deg) rotate(3deg);
}

.paper:hover::before,
.paper:hover::after {
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.4);
}

.paper:hover::before {
  left: 5px;
}

.paper:hover::after {
  right: 5px;
}
